:root {
    --brandcolour1: purple;
    --brandcolour2: rgb(138, 138, 138);
    --brandcolour3: white;
    --brandcolour4: black;
    --flexer: flex;
    --grow: 1;
    --shrink: 1;
    --wrapper: wrap;
    --projectmargin: 50px;
    --projectminhieght: 75%;
    --projectminwidth: 75%;
    --projectborder: 9px dashed var(--brandcolour4);
    --projectshadow: 100px 100px 100px 100px var(--brandcolour1);
    --projectborderchange: 9px solid var(--brandcolour1);
    --ProjectImgHieghtWidth: 17.5%;
    --projectImgpadding: auto;
    --projectImgMargin: 25px;
    --projectImgHieghtWithHover: 30%;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --ImgFloat: left;
    --ImgMarginRight: 15%;
    --boxGlow: glow 1s ease-in-out infinite alternate;
}


h1 {
    font-size: 24px;
    ;
    font-style: italic;
    font-weight: bold;
    font-family: var(--font)
}

p {
    font-size: 14px;
    font-family: var(--font);
    font-style: italic;
}

.paraBox {
    float: right;
    position: relative;
    left: 45%;
    bottom: 100px;
}

title {
    color: var(--brandcolour4);
}

header h1 {
    color: var(--brandcolour3);
    background-color: var(--brandcolour4);
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

header h1:hover {
    color: var(--brandcolour2);
}

nav {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    background-color: var(--brandcolour1);
}

nav a {
    float: left;
    display: block;
    color: var(--brandcolour3);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--brandcolour4);
    color: var(--brandcolour2);
}

body {
    background-color: var(--brandcolour2);
}

section {
    display: var(--flexer);
    flex-direction: column;
}

#profileHead {
    padding-top: 0%;
    text-align: center;
}

#profile p {
    margin-left: 15%;
    padding: 200px;
    display: var(--flexer);
    flex-wrap: var(--wrapper);
}

#PicBtn {
    min-height: 100px;
    min-width: 100px;
    display: var(--flexer);
    flex-wrap: var(--wrapper);
    align-self: center;
    margin-left: 10%;
    margin-right: 75%;
    flex-grow: var(--grow);
    flex-shrink: var(--shrink);
}

#RoboPic {
    min-height: 75%;
    min-width: 75%;
    padding: 20px;
    margin-top: 15px;
    display: var(--flexer);
    flex-wrap: var(--wrapper);
    flex-grow: var(--grow);
    flex-shrink: var(--shrink);
}



#DnD {
    margin: var(--projectmargin);
    min-height: var(--projectminhieght);
    min-width: var(--projectminwidth);
    border: var(--projectborder);
    display: var(--flexer);
    flex-wrap: var(--wrapper);
    flex-grow: var(--grow);
    flex-shrink: var(--shrink);
}

#DnD:hover {
    box-shadow: var(--projectshadow);
    border: var(--projectborderchange);
    animation: var(--boxGlow);
}

#dice {
    display: var(--flexer);
    height: var(--ProjectImgHieghtWidth);
    width: var(--ProjectImgHieghtWidth);
    padding: var(--projectImgpadding);
    margin: var(--projectImgMargin);
    float: var(--ImgFloat);
    margin-right: var(--ImgMarginRight);
    margin-bottom: 3%;
}

#dice:hover {
    display: var(--flexer);
    height: var(--projectImgHieghtWithHover);
    width: var(--projectImgHieghtWithHover);
    padding: var(--projectImgpadding);
    margin: var(--projectImgMargin);
    float: var(--ImgFloat);
    margin-right: var(--ImgMarginRight);
    margin-bottom: 20%;
}

#refracting {
    margin: var(--projectmargin);
    min-height: var(--projectminhieght);
    min-width: var(--projectminwidth);
    border: var(--projectborder);
    display: var(--flexer);
    flex-wrap: var(--wrapper);
    flex-grow: var(--grow);
    flex-shrink: var(--shrink);
}

#refracting:hover {
    box-shadow: var(--projectshadow);
    border: var(--projectborderchange);
    animation: var(--boxGlow);
}

#laptop {
    display: var(--flexer);
    height: var(--ProjectImgHieghtWidth);
    width: var(--ProjectImgHieghtWidth);
    padding: var(--projectImgpadding);
    margin: var(--projectImgMargin);
    float: var(--ImgFloat);
    margin-right: var(--ImgMarginRight)
}

#laptop:hover {
    display: var(--flexer);
    height: var(--projectImgHieghtWithHover);
    width: var(--projectImgHieghtWithHover);
    padding: var(--projectImgpadding);
    margin: var(--projectImgMargin);
    float: var(--ImgFloat);
    margin-right: var(--ImgMarginRight);
    margin-bottom: 20%;
}

#husky {
    margin: var(--projectmargin);
    min-height: var(--projectminhieght);
    min-width: var(--projectminwidth);
    border: var(--projectborder);
    display: var(--flexer);
    flex-wrap: var(--wrapper);
    flex-grow: var(--grow);
    flex-shrink: var(--shrink);
}

#husky:hover {
    box-shadow: var(--projectshadow);
    border: var(--projectborderchange);
    animation: var(--boxGlow);
}

#puppa {
    display: var(--flexer);
    height: var(--ProjectImgHieghtWidth);
    width: var(--ProjectImgHieghtWidth);
    float: var(--ImgFloat);
    margin: var(--projectImgMargin);
    padding: var(--projectImgpadding);
    margin-right: var(--ImgMarginRight);
    margin-bottom: 20%;
    
}

#puppa:hover {
    display: var(--flexer);
    height: var(--projectImgHieghtWithHover);
    width: var(--projectImgHieghtWithHover);
    padding: var(--projectImgpadding);
    margin: var(--projectImgMargin);
    float: var(--ImgFloat);
    margin-right: var(--ImgMarginRight);
    margin-bottom: 20%;
}

footer {
    text-align: center;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 30px var(--brandcolour1), 0 0 40px var(--brandcolour1), 
        0 0 50px var(--brandcolour1), 0 0 60px var(--brandcolour1), 0 0 70px var(--brandcolour1); 
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px var(--brandcolour4), 0 0 40px var(--brandcolour4),
        0 0 50px var(--brandcolour4), 0 0 60px var(--brandcolour4), 0 0 70px var(--brandcolour4);
    }
}

@media only screen and (max-width:580px) {
    #PicBtn {
        display: none;
    }
    nav {
        display: none;
    }
}