
title{color: var(--brandcolour4);}



nav {
    position:fixed;
    width: 100%;
    transition: top 0.3s;
    background-color: var(--brandcolour1);
}

nav a {
    float:left;
    display: block;
    color: var(--brandcolour3);
    text-align:center;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--brandcolour4);
    color: var(--brandcolour2);
}
body {background-color: var(--brandcolour2);
}

#RoboPic {
    height: 200px;
    width: 25%;
    padding: 20px;
    margin-top: 15px;}
    :root {
        --brandcolour1: purple;
        --brandcolour2: rgb(138, 138, 138);
        --brandcolour3: white;
        --brandcolour4: black;
        --cardimghieght: 75px;
        --cardimgwidth: 75px;
        --hoverheight:150px ;
        --hoverwidth: 150px;
    
    }
    
#dice { height: var(--cardimghieght);
    width: var(--cardimgwidth);
        
    }

#dice:hover {height:var(--hoverheight) ;
width: var(--hoverwidth);
} 

#laptop {height: var(--cardimghieght);
    width: var(--cardimgwidth);

}

#laptop:hover {height: var(--hoverheight);
    width: var(--hoverwidth);

}

#puppa {height: var(--cardimghieght);
    width: var(--cardimgwidth);

}

#puppa:hover{ height: var(--hoverheight);
width: var(--hoverwidth);
}


