:root {
    --brandcolour1: purple;
    --brandcolour2: rgb(138, 138, 138);
    --brandcolour3: white;
    --brandcolour4: black;
    --flexer: flex;
    --grow: 1;
    --shrink: 1;
    --wrapper: wrap;
    --projectmargin: 50px;
    --projectminhieght: 75%;
    --projectminwidth: 75%;
    --projectborder: 3px dashed var(--brandcolour4);
    --projectshadow: 100px 100px 100px 100px var(--brandcolour1);
    --projectborderchange: 5px solid var(--brandcolour1);
    --ProjectImgHieghtWidth: 150px;
    --projectImgpadding: auto;
    --projectImgMargin: 25px;
    --projectImgHieghtWithHover: 225px;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --ImgFloat: left;
    --ImgMarginRight: 15%;
    --boxGlow: glow 1s ease-in-out infinite alternate;
}


h1 {
    font-size: 24px;
    ;
    font-style: italic;
    font-weight: bold;
    font-family: var(--font)
}

p {
    font-size: 14px;
    font-family: var(--font);
    font-style: italic;
}

#biopara{
    font-size: 38px;
}

title {
    color: var(--brandcolour4);
}

header h1 {
    color: var(--brandcolour3);
    background-color: var(--brandcolour4);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
   
        color: #fff;
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px rgb(161, 161, 159),
          0 0 82px rgb(161, 161, 159),
          0 0 92px rgb(161, 161, 159),
          0 0 102px rgb(161, 161, 159),
          0 0 151px rgb(161, 161, 159);
}



nav {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    background-color: var(--brandcolour1);
}

nav a {
    float: left;
    display: block;
    color: var(--brandcolour3);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--brandcolour4);
    color: var(--brandcolour2);
}

body {
    background-color: var(--brandcolour2);
}

#backgroundimg {
    background-image: url("../img/binarybackground.jpg")

}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.infosec{
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    flex-direction: column;
}


#languages {
    margin: var(--projectmargin);
    border: var(--projectborder);
    display: var(--flexer);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 50%;
    
}



#Bio{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: var(--projectborder);
  
}

section {
    display: var(--flexer);
    /* flex-direction: column; */
}
 

#profilehead {
    padding-top: 0%;
    text-align: center;
}

#profile p {
    margin-left: 15%;
    padding: 200px;
    display: var(--flexer);
    flex-wrap: var(--wrapper);
} 



#RoboPic {
    margin: var(--projectmargin);
    border: var(--projectborder);
    display: var(--flexer);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    animation: var(--boxGlow);
}
#gBtn {
    margin: 0%;
    display: flex;
    justify-content: center;
    
}

ol{    font-size: 14px;
    font-family: var(--font);
    font-style: italic;
}

#langformating{
    text-align: right;

}





#showcase1, #showcase2, #showcase3 {
    margin: var(--projectmargin);
    border: var(--projectborder);
    display: var(--flexer);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--brandcolour3);
    box-shadow: 5px 5px 5px purple;
}

#showcase1:hover {
    box-shadow: var(--projectshadow);
    border: var(--projectborderchange);
    animation: var(--boxGlow);
}

#showcaseimg {
    display: var(--flexer);
    height: var(--ProjectImgHieghtWidth);
    width: var(--ProjectImgHieghtWidth);
   
}

#showcaseimg:hover {
    display: var(--flexer);
    height: var(--projectImgHieghtWithHover);
    width: var(--projectImgHieghtWithHover);
  
}


#showcase2:hover {
    box-shadow: var(--projectshadow);
    border: var(--projectborderchange);
    animation: var(--boxGlow);
}





#showcase3:hover {
    box-shadow: var(--projectshadow);
    border: var(--projectborderchange);
    animation: var(--boxGlow);
}

.langlogo{
    display: var(--flexer);
    height: var(--ProjectImgHieghtWidth);
    width: var(--ProjectImgHieghtWidth);
}



footer {
    text-align: center;
    background-color: var(--brandcolour2);
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 30px var(--brandcolour1), 0 0 40px var(--brandcolour1), 
        0 0 50px var(--brandcolour1), 0 0 60px var(--brandcolour1), 0 0 70px var(--brandcolour1); 
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px var(--brandcolour4), 0 0 40px var(--brandcolour4),
        0 0 50px var(--brandcolour4), 0 0 60px var(--brandcolour4), 0 0 70px var(--brandcolour4);
    }
}

@media only screen and (max-width:580px) {
    nav {
        display: none;
    }
    #showcase1, #showcase2, #showcase3{
        flex-direction: column;
    }
}